<div class="container marketing">
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
<p>
  <strong>Naslov:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Besedilo:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Avtor:</strong>
  <%= @post.user.email %>
</p>

<p>
<%= display_post_show_links(@post) %>
</p>
</div>
</div>
</div>
